legend {
    color: black;
    font-family: 'Cormorant Infant', serif;
    text-align: center; 
}

.formulario {
align-items: center;
font-size: 23px;
padding-top: 10px 15px 15px 15px;
justify-content: start;
color: white;
}

label {
display: flex;
justify-content: center;
padding-top: 10px;
}