* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

@media (max-width:768px) {
    header label {
        display: block;
    }

    .header_menu {
        position: absolute;
        background: black;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }

    .header_menu ul {
        flex-direction: column;
    }

    .header_menu li {
        border-top: 1px solid red;
    }

    .btn_menu:checked - .header_menu {
        margin: 0;
    }
}


@media screen and (min-width: 320px) and (max-width: 479px) {

    header {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 0px; 
    }

    header .header_menu {
        font-size: 18px;
        padding-top: 10px;        
    }

    #video_home {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: row;
        align-self: center;
    }

    .header_delivery {
        display: flex;
        flex-direction: column;
    }
    
    .header_logos {
        width: 80px;
        height: auto;
    }

    .header_frase {
        font-size: 1.5rem;
    }

    .header_btn {
        width: 100px;
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .seccion_home {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .seccion_home h3 {
        width: 100%;
        height: auto;
        font-size: 1.0rem;
    }

    .seccion_home_titulo {
        font-size: 1.3rem;
        width: 300px;
        height: auto;
        margin-left: 10%;
    }
    .seccion_home_p {
        width: 100%;
        height: auto;
        padding: 0% 0% 0% 0%;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        font-size: 0.8rem;
    }
    
    footer {
        display: grid;
    }
    
    .footerh3 {
        font-size: large;
    }

    footer .footerMapa {
        flex-direction: column;
    }

    footer .footerMapa .facebook {
        width: 40px;
        height: auto;
        margin: 10px;
    }
    
    footer .footerMapa .instagram {
        width: 40px;
        height: auto;
        margin: 10px;
    }
    
    .mapa {
        width: 200px;
        height: auto;
    }

    /* Desde acá va la seccion nosotros */

    .sectionNos1 {
        display: grid;
    }

    .sectionFoto {
        width: 50%;
        height: auto;
        margin-left: 25%;
    }

    .txtNos {
        font-size: 1rem;
        margin-left: 20%;
    }

    /* Desde acá va la seccion menú */

    .btn_pizza {
        display: inline-block;
    }
    
    .btn_pizza img {
        width: 50%;
        height: auto;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 10%;
        margin-bottom: 0%;
    }

    .btn_pizza .pizzastxt {
        font-size: 1.2rem;
    }

    .container_grid {
        display: flex;
        flex-direction: column;
    }

    .container_grid iframe {
        width: 150%;
        height: auto;
    }



    /* desde aca va la seccion sucursales */


 









